@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
} 

body {
  color: var(--foreground);
  font-family:"CustomFont",sans-serif;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "CustomFont";
  src: url("/Assets/fonts/nyt-cheltenham-normal.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
   font-display: swap; 
}
@font-face {
  font-family: "CustomFont-medium";
  src: url("/Assets/fonts/nyt-cheltenham-medium.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
   font-display: swap; 
}

h2  {
  font-family: "CustomFont-medium";
}

h3{
   font-family: "CustomFont-medium";
}
h1{
   font-family: "CustomFont-medium";
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.image-hover-scale {
  transform-origin: -10% center; /* moves origin 10% left outside container */
  transition: transform 0.3s ease-in-out;
}
.image-hover-scale:hover {
  transform: scale(1.05) translateX(8px);
}
.clip-polygon {
  clip-path: polygon(0 0, 102% -6%, 84% 100%, 0% 100%);
}
.underline-wrapper {
  display: inline;
  background-image: linear-gradient(rgb(255, 5, 5), rgb(255, 0, 0));
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 100% 0;
  transition: background-size 0.5s ease;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  
}

.group:hover {
  background-size: 100% 3px;

}
.underline-wrapper-black {
  display: inline;
  background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 100% 0;
  transition: background-size 0.5s ease;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  line-clamp: 2;
}.underline-wrapper-white
 {
  display: inline;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 100% 0;
  transition: background-size 0.5s ease;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  line-clamp: 2;
}
.breadcrumb-bg {
  background-image: url('/images/breadcrumb-mask.webp');
  background-size: cover;
  background-position: center;
}
@keyframes spinDots {
  0%, 39%, 100% {
    opacity: 0.3;
  }
  40% {
    opacity: 1;
  }
}
